<h1>本詳細&取引動線</h1>
<div class="card"　style="width: 70%;">
<%= image_tag @book.image.to_s, size: '300x300', class:"card-img-top"%>
<div class="card-body">
    <h4 class="card-title"><%=@book.title%></h4>
    <h6 class="card-subtitle mb-2 text-muted"><%=@book.publisher%></h6>
    <p class="card-text">タグ、タグ、タグ、タグ</p>
    <p class="card-text">取引ボタンをクリックすると、注文表が発行される</p>
    <%= link_to '戻る', root_path, class: "btn btn-secondary" %>
    <%= link_to '取引表を記入', new_form_path(book_id: @book.id), class: "btn btn-success" %>
</div>
</div>
